# Create App in LibInsight Admin->Widgets & APIs->Manage API authentication->+Create application
LI_KEY=client-id:libinsight->admin
LI_SECRET=client-secret
LA_USER=libapps-login-email
LA_PASS=libapps-login-password